.ketengah{
    margin: 10px auto;
    width: 1150px;
    margin-top: 250px;
}
.kotak{
    background: blue;
    width: 200px;
    float: left;
    height: 200px;
    margin: 30px;
    
}
.gradient1 {
    background: linear-gradient(#000000, #3D0000); /* Standard syntax */
    background: -webkit-linear-gradient(#000000, #3D0000); /* For Safari 5.1 to 
    6.0 */
    background: -o-linear-gradient(#000000, #3D0000); /* For Opera 11.1 to 12.0 
    */
    background: -moz-linear-gradient(#000000, #3D0000); /* For Firefox 3.6 to 15 
    */
}
.gradient2 {
    background: linear-gradient(to right, #000000, #3D0000, #FF0000); /* Standard 
    syntax */
    background: -webkit-linear-gradient(left,#000000, #3D0000, #FF0000); /* For 
    Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#000000, #3D0000, #FF0000); /* For Opera 
    11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000, #3D0000, #FF0000); /* For 
    Firefox 3.6 to 15 */
}
.gradient3 { 
     background: radial-gradient(#000000, #3D0000, #FF0000); /* Standard syntax */
     background: -webkit-radial-gradient(#000000, #3D0000, #FF0000); /* Safari 5.1 
    to 6.0 */
     background: -o-radial-gradient(#000000, #3D0000, #FF0000); /* For Opera 11.6 
    to 12.0 */
     background: -moz-radial-gradient(#000000, #3D0000, #FF0000); /* For Firefox 
    3.6 to 15 */
}
.gradient4 {
     background: radial-gradient(circle,#000000, #3D0000, #FF0000); /* Standard 
    syntax */ 
     background: -webkit-radial-gradient(circle,#000000, #3D0000, #FF0000); /* 
    Safari */
     background: -o-radial-gradient(circle, #000000, #3D0000, #FF0000); /* Opera 
    11.6 to 12.0 */
     background: -moz-radial-gradient(circle, #000000, #3D0000, #FF0000); /* 
    Firefox 3.6 to 15 */
}
.gradient5 {
    background: linear-gradient(#000000, #3E065F); /* Standard syntax */
    background: -webkit-linear-gradient(#000000, #3E065F); /* For Safari 5.1 to 
    6.0 */
    background: -o-linear-gradient(#000000, #3E065F); /* For Opera 11.1 to 12.0 
    */
    background: -moz-linear-gradient(#000000, #3E065F); /* For Firefox 3.6 to 15 
    */
}
.gradient6 {
    background: linear-gradient(to right, #000000, #3E065F, #700B97); /* Standard 
    syntax */
    background: -webkit-linear-gradient(left,#000000, #3E065F, #700B97); /* For 
    Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #000000, #3E065F, #700B97); /* For Opera 
    11.1 to 12.0 */
    background: -moz-linear-gradient(right, #000000, #3E065F, #700B97); /* For 
    Firefox 3.6 to 15 */
}
.gradient7 { 
    background: radial-gradient(#000000, #3E065F, #700B97); /* Standard syntax */
    background: -webkit-radial-gradient(#000000, #3E065F, #700B97); /* Safari 5.1 
   to 6.0 */
    background: -o-radial-gradient(#000000, #3E065F, #700B97); /* For Opera 11.6 
   to 12.0 */
    background: -moz-radial-gradient(#000000, #3E065F, #700B97); /* For Firefox 
   3.6 to 15 */
}
.gradient8 {
    background: radial-gradient(circle, #000000, #3E065F, #700B97); /* Standard 
   syntax */ 
    background: -webkit-radial-gradient(circle, #000000, #3E065F, #700B97); /* 
   Safari */
    background: -o-radial-gradient(circle, #000000, #3E065F, #700B97); /* Opera 
   11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #000000, #3E065F, #700B97); /* 
   Firefox 3.6 to 15 */
}

