* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
 a {
    color: inherit;
    text-decoration: none;
  }

.container{
    width:80%;
    margin:0 auto;
  }
.container:after {
    content:'';
    display: block;
    clear: both;
  }

.logo {
    position: absolute;
    width: 153px;
    height: 55px;
    left: 39px;
    top: 15px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

nav {
    background: #242222;
}
nav h1 {
    float: left;
    padding:20px 0;
  }
nav ul {
    float: right;
  }
nav ul li {
    display: inline-block;
  }
nav ul li a {
    padding:30px 25px;
    display: inline-block;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
nav ul li a:hover {
    background-color: #AC0F0F;
  }
body {
    position: relative;
    background: #000000;
 }
 /* footer */
#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    background: #696969;
}
/* about */
.about1{
    margin: 5% 10%;
    padding: 5%;
    background-color: #C4C4C4;;
    border-radius: 12px;
    height: 550px;
    left: 0;
    position: relative; 
}

/* contact */
.contact-form{
    margin: 5% 20%;
    padding: 5%;
    background-color: #AC0F0F;
    border-radius: 12px;
    height: 450px;
    left: 0;
    position: relative;
}

.contact-form h1{
    color: white;
    margin-bottom: 20px;
}


label {
    color: white;
    font-weight: bold;
}

input{
    margin-top: 10px;
    width: 90%;
    padding: 2%;
    border-radius: 12px;
    border: 1px solid #191695;
    margin-bottom: 20px;
    
}

textarea{
    margin-top: 10px;
    width: 90%;
    padding: 2%;
    border-radius: 12px;
    border: 1px solid #191695; 
    
}

.confrim button{
    margin-top: 20px;
    width: 10%;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    color: white;
}

.submit{
    background-color: #C4C4C4;
}

.reset{
    background-color: #C4C4C4;
}



